exportPattern("^[[:alpha:]]+")
## Export regular function names (no dots)
export(glmm.hp)
S3method(plot, glmmhp)
import(stats)
import(lme4)
import(nlme)
import(MuMIn)
import(partR2)
import(ggplot2)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_text)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,scale_fill_manual)
importFrom(ggplot2,scale_x_continuous)
importFrom(ggplot2,scale_y_continuous)
importFrom(ggplot2,theme_void)
importFrom(ggplot2,geom_bar)
importFrom(ggplot2,theme_minimal)
importFrom(ggplot2,labs)
